<div class="about-container">
    <mat-card class="about-card">
      <h2 class="about-title">About Us</h2>
      <p class="about-description">
        Guff Chautari is a dynamic and modern platform designed to facilitate real-time conversations
        with friends, family, and colleagues. It is a secure environment where users can create
        custom chat rooms, share ideas, and stay connected. Our goal is to provide an engaging
        and enjoyable experience for all our users.
      </p>
    <div>
    <h3 class="about-features-title">Key Features:</h3>
      <ul class="about-features-list">
        <li>Customizable Chat Rooms</li>
        <li>End-to-End Encryption</li>
        <li>Instant Message Delivery</li>
        <li>Mobile and Desktop Support</li>
      </ul>
    </div>
      <p class="about-contact">
        Have any questions? <a href="/contact" class="contact-link">Contact Us</a>
      </p>
    </mat-card>
  </div>