<mat-toolbar class="toolbar">
      <button *ngIf="isLoggedIn" mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon color="primary">forum</mat-icon>
      <span class="app-title">{{title}}</span>
      <span class="toolbar-spacer"></span>
      
      <!-- Show these buttons only when not logged in -->
      <ng-container *ngIf="!isLoggedIn">
        <button mat-stroked-button class="login-btn" (click)="navigate('/login')">
          Login
        </button>
        <button mat-raised-button class="register-btn" (click)="navigate('/register')">
          Register
        </button>
      </ng-container>
      
      <!-- Show logout when logged in -->
      <button *ngIf="isLoggedIn" mat-raised-button color="warn" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </mat-toolbar>