<mat-toolbar color="primary" class="header-toolbar">
      <div class="toolbar-left">
        <button mat-icon-button (click)="toggleSidenav.emit()" class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="title">{{title}}</span>
      </div>
      <div class="toolbar-right">
        <ng-container *ngIf="!isLoggedIn">
          <button mat-button routerLink="/login" class="nav-button">
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </button>
          <button mat-button routerLink="/register" class="nav-button">
            <mat-icon>person_add</mat-icon>
            <span>Register</span>
          </button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <button mat-button (click)="logout()" class="nav-button">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </ng-container>
      </div>
    </mat-toolbar>