<div class="app-container">
  <app-header [isLoggedIn]="true" (toggleSidenav)="sidenav.toggle()"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav">
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="dashboard-container">
        <div class="dashboard-header">
          <h1>Chat Rooms</h1>
          <div class="dashboard-actions">
            <button mat-raised-button color="primary" (click)="createRoom()">
              <mat-icon>add</mat-icon>
              Create Room
            </button>
            <button mat-raised-button (click)="navigateToProfile()">
              <mat-icon>account_circle</mat-icon>
              My Profile
            </button>
          </div>
        </div>
        <div class="rooms-grid">
          <app-room-card *ngFor="let room of rooms" [room]="room"></app-room-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>