<div class="user-dialog">
  <div class="profile-section">
    <img [src]="user.profilePicture" alt="Profile picture" class="profile-picture">
    <div class="user-info">
      <h3>{{ user.name }}</h3>
      <div class="username">{{ user.username }}</div>
      <div class="location">
        <mat-icon>location_on</mat-icon>
        {{ user.location }}
      </div>
    </div>
  </div>

  <div class="dialog-actions">
    <button 
      mat-raised-button
      class="view-profile-btn"
      (click)="onViewProfile()"
    >
      <mat-icon>person</mat-icon>
      View Profile
    </button>
    <button 
      mat-raised-button
      class="send-request-btn"
      (click)="onSendRequest()"
    >
      <mat-icon>person_add</mat-icon>
      Send Request
    </button>
  </div>
</div>
